.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* css for star rating */
.star {
  cursor: pointer;
  transition: color 200ms;
}

/* css for radio buttons */
input[type="radio"] {
  display: none;
}

/* NewRecipe CSS for screens with a maximum width of 425px (mobile) */
@media screen and (max-width: 425px) {
  .newRecipe {
    background-image: url("../public/backgroungImgs/NewRecipe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
  }

  .newRecipe h2 {
    text-align: center;
    margin-top: 30px;
    background-color: rgba(240, 255, 255, 0.344);
    border-radius: 15px;
    padding: 10px 20px;
  }

  .recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
  }

  .recipe-form input[type="submit"] {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.5);
    margin-top: 10px;
    padding: 2px;
  }

  .back-to-recipes-button {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.5);
  }

  .header {
    display: none;
  }

  .recipe-ingredient-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
    border: 2px solid #A3C8CE;
  }
}

/* NewRecipe CSS for screens with a maximum width of 768px (tablet) */
@media screen and (max-width: 768px) {
  .newRecipe {
    background-image: url("../public/backgroungImgs/NewRecipe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newRecipe h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
  }

  .recipe-form input[type="submit"] {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: 5px;
    padding: 2px;
  }

  .back-to-recipes-button {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: -5px;
    padding: 2px;
    margin-bottom: 10px;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  .recipe-ingredient-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
  }

}

/* NewRecipe CSS for screens with a maximum width of 1024 (laptop) */
@media screen and (max-width: 1024px) {
  .newRecipe {
    background-image: url("../public/backgroungImgs/NewRecipe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newRecipe h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
  }

  .recipe-form input[type="submit"] {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: 5px;
    padding: 2px;
  }

  .back-to-recipes-button {
    font-weight: 500;
    font-size: 12px;
    background-color: #A3C8CE;
    margin-top: -5px;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #A3C8CE;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  .recipe-form input[name="instructions"] {
    height: auto;
    min-height: 150px;
  }

  .recipe-directions-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
  }

  .recipe-form input,
  .recipe-directions-input {
    border-radius: 10px;
    border: 2px solid #A3C8CE;
  }

  .recipe-ingredient-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
  }

}

/* NewRecipe CSS for screens with a maximum width of 1440 (laptop L) */
@media screen and (max-width: 2560px) {
  .newRecipe {
    background-image: url("../public/backgroungImgs/NewRecipe.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newRecipe h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
  }

  .recipe-form input[type="submit"] {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: 5px;
    padding: 2px;
  }

  .back-to-recipes-button {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: -5px;
    padding: 2px;
    margin-bottom: 10px;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  .recipe-form input[name="instructions"] {
    height: auto;
    min-height: 150px;
  }

  .recipe-directions-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
  }

  .recipe-form input,
  .recipe-directions-input {
    border-radius: 10px;
    border: 2px solid #A3C8CE;
  }

  .recipe-ingredient-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
  }

}

/* NewRecipe CSS for screens with a maximum width of 2560 (bigger than laptops) */
@media screen and (max-width: 2560px) {
  .newRecipe {
    background-image: url("../public/backgroungImgs/NewRecipe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 230vh;
  }

  .newRecipe h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
  }

  .recipe-form input[type="submit"] {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: 5px;
    padding: 2px;
  }

  .back-to-recipes-button {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: -5px;
    padding: 2px;
    margin-bottom: 10px;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  .recipe-ingredient-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
  }
}

@media screen and (min-width: 768px) and (max-width: 2560px) {

  .recipe-form input,
  .recipe-directions-input {
    border-radius: 10px;
    border: 2px solid #A3C8CE;
    width: 400px;
  }

  .recipe-form input[type="submit"] {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    margin-top: 5px;
    padding: 2px;
    width: 103px;
  }

  .back-to-recipes-button {
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
    background-color: #A3C8CE;
    border: 2px solid #A3C8CE;
    border-color: #A3C8CE;
    margin-top: -5px;
    padding: 2px;
    margin-bottom: 10px;
  }

  .recipe-ingredient-input {
    border-radius: 10px;
    border: 2px solid #A3C8CE;
    width: 400px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* LOGIN PAGE CSS */

/* Common styles */
.homepage-container {
  text-align: center;
  padding: 20px;
}

.login-form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.login-form button {
  background-color: #68CA37;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #C5F5CF;
}

.login-form button {
  background-color: #68CA37;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  /* Add margin between buttons */
}

.login-form button:last-child {
  margin-right: 0;
  /* Remove margin from last button */
}

/* Media query for screens up to 425px */
@media screen and (max-width: 425px) {
  .homepage-container {
    background-image: url("../public/backgroungImgs/TasteTallyLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}

@media screen and (max-width: 768px) {
  .homepage-container {
    background-image: url("../public/backgroungImgs/TasteTallyLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width:1439px) {
  .homepage-container {
    background-image: url("../public/backgroungImgs/TasteTallyLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) and (max-width:2700px) {
  .homepage-container {
    background-image: url("../public/backgroungImgs/TasteTallyLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}